[flake8]
# Use the following flake8 plugins:
# ANN   : flake8-annotations warnings
# B,B9  : flake8-bugbear
# BLK   : flake8-black
# C     : mccabe code complexity checks
# D     : flake8-docstrings warnings
# F     : pyflakes errors
# I     : flake8-isort
# S     : flake8-bandit, plugin changed B to S
# W,E   : pycodestyle (pep8) warnings and errors
select = ANN,B,B9,BLK,C,D,E,F,I,S,W

# Function complexity and line length
max-complexity = 10
max-line-length = 95

# Ignore these flake8 errors across the board.
ignore =
    ANN101, # Missing type annotation for self
    ANN102, # Missing type annotation for cls in classmethod
    D100,   # Missing docstring in public module
    D104,   # Missing docstring in public package
    E203,   # Colons should not have whitespace before them
    W503,   # Line break before binary operator

# import order
application-import-names = src/*,tests
import-order-style = google

# docstrings
docstring-convention = google

# should be used rarely
# disable strict doc string linting for tests
per-file-ignores =
    
    tests/**:D101,D102,D103,D105,D106,D107,D205,D207,D208,D212,D214,D215,D301,D4,S101
    # D101    Missing docstring in public class
    # D102    Missing docstring in public method
    # D103    Missing docstring in public function
    # D105    Missing docstring in magic method
    # D106    Missing docstring in nested class
    # D107    Missing docstring in __init__
    # D205    1 blank line required between summary line and description
    # D207    Docstring is under-indented
    # D208    Docstring is over-indented
    # D212    Multi-line docstring summary should start at the first line
    # D214    Section is over-indented
    # D215    Section underline is over-indented
    # D301    Use r”“” if any backslashes in a docstring
    # D4*     Docstring Content Issues
    # S101    assert_used